/* =========================
   ROOT COLORS
========================= */
/**Home page**/
:root{
    --primary:#1877f2;
    --secondary:#42a5f5;
    --background:#f0f2f5;
    --white:#ffffff;
    --text:#333333;
    --border:#dddddd;

    --shadow:0 4px 15px rgba(0,0,0,0.08);
    --radius:12px;
}

/* =========================
   RESET
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:var(--background);
    color:var(--text);
    line-height:1.6;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

img{
    max-width:100%;
}

button{
    cursor:pointer;
    border:none;
}

/* =========================
   NAVBAR
========================= */



.navbar{
    background:var(--white);
    padding:15px 40px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    box-shadow:var(--shadow);

    position:sticky;
    top:0;
    z-index:100;
    
}

.logo{
    font-size:28px;
    font-weight:700;
    color:var(--primary);
}

.nav-links{
    display:flex;
    gap:25px;
    right:-100px;
    justify-content: flex-end;
}

.nav-links a{
    font-weight:600;
    
}

.nav-links a:hover{
    color:var(--primary);
}

/* =========================
   BUTTONS
========================= */

.btn{
    background:var(--primary);
    color:white;
    padding:10px 20px;
    border-radius:8px;
    transition:.3s;
}

.btn:hover{
    background:var(--secondary);
}

/* =========================
   CARD
========================= */

.card{
    background:var(--white);
    border-radius:var(--radius);
    box-shadow:var(--shadow);
}

.hero{
    min-height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;
    padding:50px;
    background:#f0f2f5;
}

.hero-content{
    max-width:600px;
}

.hero-content h1{
    font-size:3rem;
    color:#333333;
    margin-bottom:20px;
}

.hero-content p{
    font-size:1.1rem;
    margin-bottom:30px;
}

.hero-buttons{
    display:flex;
    gap:15px;
}

.btn-outline{
    border:2px solid #1877f2;
    color:#1877f2;
    padding:10px 20px;
    border-radius:8px;
}

.feature-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    padding:40px;
}

.feature-card{
    background:white;
    padding:30px;
    text-align:center;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.feature-card i{
    font-size:40px;
    color:#1877f2;
    margin-bottom:15px;
}

.stats{
    display:flex;
    justify-content:center;
    gap:50px;
    padding:50px;
}

.stat-card{
    text-align:center;
}

.stat-card h2{
    color:#1877f2;
    font-size:2rem;
}

.cta{
    text-align:center;
    padding:10px 20px;
    background:#1877f2;
    color:white;
}

.cta p{
    margin-bottom:40px;
}

.btn{
    display:inline-block;
    margin-top:10px;
}
footer{
    text-align:center;
    padding:20px;
    background:white;
}


/** Profile page**/

.profile-container{
    max-width:900px;
    margin:30px auto;

    background:white;
    border-radius:15px;
    overflow:hidden;

    box-shadow:var(--shadow);
}

/* Cover */

.cover{
    width:100%;
    height:280px;
    object-fit:cover;
}

/* Avatar */

.avatar{
    width:160px;
    height:160px;

    border-radius:50%;
    border:5px solid white;

    margin-top:-80px;
    margin-left:30px;
}

/* Profile Info */

.profile-info{
    padding:20px 30px;
}

.profile-info h2{
    margin-bottom:5px;
}

.profile-info p{
    color:#666;
}

.follow-btn{
    margin-top:15px;

    background:var(--primary);
    color:white;

    padding:10px 20px;
    border-radius:8px;
}

/* Stats */

.stats{
    display:flex;
    justify-content:space-around;

    padding:20px;
    margin-top:20px;

    border-top:1px solid var(--border);
}

.stats div{
    text-align:center;
}

.stats h3{
    color:var(--primary);
}

/**Register page**/

.auth-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f8fafc;
}

.auth-card{
    width:400px;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    text-align:center;
}

.auth-card h2{
    margin-bottom:25px;
}

.auth-card form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.auth-card input{
    width:100%;
    padding:14px;
    border:1px solid #ddd;
    border-radius:10px;
    outline:none;
}

.auth-card button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.auth-card p{
    margin-top:20px;
}

